[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EventWinRatios"]
	path = EventWinRatios
	url = https://github.com/cran/EventWinRatios
